$canvas-color : #000;
$paddle-color: #fff;
.board {
    background: $canvas-color;
    
}
.paddle {
    background: $paddle-color;
}
.ball {
    background: $paddle-color;
}
.score {
    color: $paddle-color;
    position: absolute;
    top: 26px;
    left: 0;
    width: 400px;
    overflow:hidden;
    div {
      width: 50%;
      float:left;
      text-align: center;
    }
}
